name: Build Windows Installer

on:
  workflow_dispatch: # Allows manual triggering

jobs:
  build-windows:
    runs-on: windows-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install flet
          pip install pyinstaller  # <-- AJOUT DE CETTE LIGNE
          pip install -r requirements.txt

      - name: Build Windows installer
        run: |
          # We pack main.py, set a product name and version,
          # and critically, we bundle the 'assets' directory and the 'config.json'
          flet pack main.py --name "Project To Markdown" --product-version 1.0.0 --add-data "assets:assets" --add-data "config.json:."

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: project-to-markdown-msi
          path: dist